node_modules
# Keep environment variables out of version control
.env
.env.local
.env.development
.env.production

/generated/prisma

# Build
dist
build
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
*.pem
Thumbs.db

# Tests
coverage
*.lcov

# IDEs
.idea
.vscode
*.swp
*.swo
*~

# Misc
.cache
temp
tmp
